@model IEnumerable<itTrend.Models.Group>

@{
    ViewData["Title"] = "Группа";
}

<h1>Группа</h1>

<p>
    <a asp-action="Create">Добавить группу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер группы
            </th>
            <th>
                Год (начала)
            </th>
            <th>
                Специальность
            </th>
            <th>
                Преподаватель
            </th>
            <th>
                Курс
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Educator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
