@{
    ViewData["Title"] = "Главное";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на сайт </h1>
    <br><br>
</div>

@model IEnumerable<itTrend.Models.Student>

<h1>Студент</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Фамилия
            </th>
            <th>
                Имя
            </th>
            <th>
                Отчество
            </th>
            <th>
                Номер телефона
            </th>
            <th>
                Фото
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronomic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Photo)" width=50 alt="Фото">
                </td>
            </tr>
        }
    </tbody>
</table>
